<html>
<head>
  <title>{{title}}</title>
</head>
<body>
  <h1>{{title}}</h1>
  <ul>
    {% for post in posts %}
      <li>
        <h4>{{post.author}}</h4>
        <p>{{post.message}}</p>
      </li>
    {% endfor %}
  </ul>
  <form action="/posts" method="POST">
    <h5>New Post</h5>
    <div><input type="text" name="author" value="Author" /></div>
    <div><input type="text" name="message" value="Post message" /></div>
    <input type="submit" value="Submit">
  </form>
</body>
</html>