<html>
<head>
  <title>{{title}}</title>
  <style>
  body{
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
    font-family: arial;
  }
  </style>
</head>
<body>
  <h1>{{title}}</h1>

    {% for post in posts %}
      <div>
        <p>{{post.author}}:
        {{post.message}}</p>
      </div>
    {% endfor %}

  <form action="/posts" method="POST">
    <input type="text" name="author" placeholder="Author" />: 
    <input type="text" name="message" placeholder="Message" />
    <input type="submit" value="Submit">
  </form>
</body>
</html>
