<html>
<head>
  <title>Welcome</title>
  <style>
  body{
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
    font-family: arial;
  }
  </style>
</head>
<body>
  <h1>Welcome to the Chuck's express complete web app!</h1>
  <p>Hit up <a href="/posts">/posts</a> to join the party!</p>
</body>
</html>
